In [1]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import cy_fast_timed_analysis as ana_t
#import cy_fast_analysis as ana
from cymetric import convenient_interface as cvi
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
#load db in a evaler
db_unat = cym.dbopen('cyclus_unat.sqlite')
db_unat_ss = cym.dbopen('cyclus_unat_u6-ss.sqlite')
db_unat_u6 = cym.dbopen('cyclus_unat_u6.sqlite')

In [3]:
ev3 = cym.Evaluator(db=db_unat_u6,write=False)
u6_TS = cvi.get_transaction_timeseries(ev3,send_list=['enrich'],nuc_list=['U236'])

['SimId' 'Time']

In [4]:
u_tot_TS = cvi.get_transaction_timeseries(ev3,send_list=['enrich'])

['Time']

In [5]:
frac_TS = u6_TS/ u_tot_TS

In [6]:
frac_TS

     Time      Mass
0     NaN       NaN
1     1.0  0.000286
2     1.0       NaN
3     1.0       NaN
4     1.0       NaN
5     1.0       NaN
6     1.0       NaN
7     1.0       NaN
8     1.0       NaN
9     1.0       NaN
10    1.0  0.000286
11    1.0       NaN
12    1.0       NaN
13    1.0       NaN
14    1.0       NaN
15    1.0       NaN
16    1.0       NaN
17    1.0       NaN
18    1.0       NaN
19    1.0  0.000286
20    1.0       NaN
21    1.0       NaN
22    1.0       NaN
23    1.0       NaN
24    1.0       NaN
25    1.0       NaN
26    1.0       NaN
27    1.0       NaN
28    1.0  0.000286
29    1.0       NaN
..    ...       ...
470   1.0       NaN
471   1.0       NaN
472   1.0       NaN
473   1.0       NaN
474   1.0       NaN
475   1.0       NaN
476   1.0       NaN
477   1.0       NaN
478   1.0  0.000286
479   1.0       NaN
480   1.0       NaN
481   1.0       NaN
482   1.0       NaN
483   1.0       NaN
484   1.0       NaN
485   1.0       NaN
486   1.0       NaN
487   1.0  0.000286
488   1.0       NaN
489   1.0       NaN
490   1.0       NaN
491   1.0       NaN
492   1.0       NaN
493   1.0       NaN
494   1.0       NaN
495   1.0       NaN
496   1.0  0.000286
497   1.0       NaN
498   1.0       NaN
499   1.0       NaN

[500 rows x 2 columns]