In [1]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import cy_fast_timed_analysis as ana_t
#import cy_fast_analysis as ana
from cymetric import convenient_interface as cvi
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
#load db in a evaler
db_unat = cym.dbopen('cyclus_unat.sqlite')
db_unat_ss = cym.dbopen('cyclus_unat_u6-ss.sqlite')
db_unat_u6 = cym.dbopen('cyclus_unat_u6.sqlite')

In [3]:
ev3 = cym.Evaluator(db=db_unat_u6,write=False)
u6_TS = cvi.get_transaction_timeseries(ev3,rec_list=['LWR'],nuc_list=['U236'])

['SimId' 'Time']

In [4]:
u_tot_TS = cvi.get_transaction_timeseries(ev3,rec_list=['LWR'])

['Time']

In [5]:
frac_TS = u6_TS/ u_tot_TS

In [6]:
frac_TS

     Time      Mass
0     NaN       NaN
1     1.0  0.000286
2     1.0       NaN
3     1.0       NaN
4     1.0       NaN
5     1.0       NaN
6     1.0       NaN
7     1.0       NaN
8     1.0       NaN
9     1.0       NaN
10    1.0  0.000286
11    1.0       NaN
12    1.0       NaN
13    1.0       NaN
14    1.0       NaN
15    1.0       NaN
16    1.0       NaN
17    1.0       NaN
18    1.0       NaN
19    1.0  0.000286
20    1.0       NaN
21    1.0       NaN
22    1.0       NaN
23    1.0       NaN
24    1.0       NaN
25    1.0       NaN
26    1.0       NaN
27    1.0       NaN
28    1.0  0.000286
29    1.0       NaN
..    ...       ...
470   1.0       NaN
471   1.0       NaN
472   1.0       NaN
473   1.0       NaN
474   1.0       NaN
475   1.0       NaN
476   1.0       NaN
477   1.0       NaN
478   1.0  0.000286
479   1.0       NaN
480   1.0       NaN
481   1.0       NaN
482   1.0       NaN
483   1.0       NaN
484   1.0       NaN
485   1.0       NaN
486   1.0       NaN
487   1.0  0.000286
488   1.0       NaN
489   1.0       NaN
490   1.0       NaN
491   1.0       NaN
492   1.0       NaN
493   1.0       NaN
494   1.0       NaN
495   1.0       NaN
496   1.0  0.000286
497   1.0       NaN
498   1.0       NaN
499   1.0       NaN

[500 rows x 2 columns]

In [8]:
tails_u6_TS = cvi.get_transaction_timeseries(ev3,rec_list=['sink_du'],nuc_list=['U236'])
tails_u6_TS

['Time']

     Time       Mass
0       0   0.000000
1       1   0.000000
2       2  57.721781
3       3   0.000000
4       4   0.000000
5       5   0.000000
6       6   0.000000
7       7   0.000000
8       8   0.000000
9       9   0.000000
10     10   0.000000
11     11   9.620297
12     12   0.000000
13     13   0.000000
14     14   0.000000
15     15   0.000000
16     16   0.000000
17     17   0.000000
18     18   0.000000
19     19   0.000000
20     20   9.620297
21     21   0.000000
22     22   0.000000
23     23   0.000000
24     24   0.000000
25     25   0.000000
26     26   0.000000
27     27   0.000000
28     28   0.000000
29     29   9.620297
..    ...        ...
470   470   9.620297
471   471   0.000000
472   472   0.000000
473   473   0.000000
474   474   0.000000
475   475   0.000000
476   476   0.000000
477   477   0.000000
478   478   0.000000
479   479   9.620297
480   480   0.000000
481   481   0.000000
482   482   0.000000
483   483   0.000000
484   484   0.000000
485   485   0.000000
486   486   0.000000
487   487   0.000000
488   488   9.620297
489   489   0.000000
490   490   0.000000
491   491   0.000000
492   492   0.000000
493   493   0.000000
494   494   0.000000
495   495   0.000000
496   496   0.000000
497   497   9.620297
498   498   0.000000
499   499   0.000000

[500 rows x 2 columns]

In [10]:
tails_u_tot_TS = cvi.get_transaction_timeseries(ev3,rec_list=['sink_du'])
tails_u_tot_TS

['Time']

     Time           Mass
0       0       0.000000
1       1       0.000000
2       2  666575.223385
3       3       0.000000
4       4       0.000000
5       5       0.000000
6       6       0.000000
7       7       0.000000
8       8       0.000000
9       9       0.000000
10     10       0.000000
11     11  111095.870564
12     12       0.000000
13     13       0.000000
14     14       0.000000
15     15       0.000000
16     16       0.000000
17     17       0.000000
18     18       0.000000
19     19       0.000000
20     20  111095.870564
21     21       0.000000
22     22       0.000000
23     23       0.000000
24     24       0.000000
25     25       0.000000
26     26       0.000000
27     27       0.000000
28     28       0.000000
29     29  111095.870564
..    ...            ...
470   470  111095.870564
471   471       0.000000
472   472       0.000000
473   473       0.000000
474   474       0.000000
475   475       0.000000
476   476       0.000000
477   477       0.000000
478   478       0.000000
479   479  111095.870564
480   480       0.000000
481   481       0.000000
482   482       0.000000
483   483       0.000000
484   484       0.000000
485   485       0.000000
486   486       0.000000
487   487       0.000000
488   488  111095.870564
489   489       0.000000
490   490       0.000000
491   491       0.000000
492   492       0.000000
493   493       0.000000
494   494       0.000000
495   495       0.000000
496   496       0.000000
497   497  111095.870564
498   498       0.000000
499   499       0.000000

[500 rows x 2 columns]

In [11]:
tails_frac_TS = tails_u6_TS/ tails_u_tot_TS

In [12]:
tails_frac_TS

     Time      Mass
0     NaN       NaN
1     1.0       NaN
2     1.0  0.000087
3     1.0       NaN
4     1.0       NaN
5     1.0       NaN
6     1.0       NaN
7     1.0       NaN
8     1.0       NaN
9     1.0       NaN
10    1.0       NaN
11    1.0  0.000087
12    1.0       NaN
13    1.0       NaN
14    1.0       NaN
15    1.0       NaN
16    1.0       NaN
17    1.0       NaN
18    1.0       NaN
19    1.0       NaN
20    1.0  0.000087
21    1.0       NaN
22    1.0       NaN
23    1.0       NaN
24    1.0       NaN
25    1.0       NaN
26    1.0       NaN
27    1.0       NaN
28    1.0       NaN
29    1.0  0.000087
..    ...       ...
470   1.0  0.000087
471   1.0       NaN
472   1.0       NaN
473   1.0       NaN
474   1.0       NaN
475   1.0       NaN
476   1.0       NaN
477   1.0       NaN
478   1.0       NaN
479   1.0  0.000087
480   1.0       NaN
481   1.0       NaN
482   1.0       NaN
483   1.0       NaN
484   1.0       NaN
485   1.0       NaN
486   1.0       NaN
487   1.0       NaN
488   1.0  0.000087
489   1.0       NaN
490   1.0       NaN
491   1.0       NaN
492   1.0       NaN
493   1.0       NaN
494   1.0       NaN
495   1.0       NaN
496   1.0       NaN
497   1.0  0.000087
498   1.0       NaN
499   1.0       NaN

[500 rows x 2 columns]