In [1]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import cy_fast_timed_analysis as ana_t
#import cy_fast_analysis as ana
from cymetric import convenient_interface as cvi
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
#load db in a evaler
db_HEU_special = cym.dbopen('main_malte_HEU.sqlite')
db_HEU_wt_u6 = cym.dbopen('main_malte_HEU_no_minor.sqlite')
db_HEU_wo_u6 = cym.dbopen('main_malte_HEU_no_minor2.sqlite')

In [3]:
e_HEU_sp = cym.Evaluator(db=db_HEU_special,write=False)
e_HEU_wt_u6 = cym.Evaluator(db=db_HEU_wt_u6,write=False)
e_HEU_wo_u6 = cym.Evaluator(db=db_HEU_wo_u6,write=False)

In [4]:
u_tot_TS_1 = cvi.get_transaction_timeseries(e_HEU_sp,commod_list=['DU'])
u_tot_U6_1 = cvi.get_transaction_timeseries(e_HEU_sp,commod_list=['DU'], nuc_list=['922350000'])
frac_TS_1 = u_tot_U6_1/236/ (u_tot_U6_1/236+( u_tot_TS_1-u_tot_U6_1)/238)
frac_TS_1*100

      Time      Mass
0      NaN       NaN
1    100.0       NaN
2    100.0  0.294348
3    100.0       NaN
4    100.0       NaN
5    100.0       NaN
6    100.0       NaN
7    100.0       NaN
8    100.0       NaN
9    100.0       NaN
10   100.0       NaN
11   100.0  0.294348
12   100.0       NaN
13   100.0       NaN
14   100.0       NaN
15   100.0       NaN
16   100.0       NaN
17   100.0       NaN
18   100.0       NaN
19   100.0       NaN
20   100.0  0.294348
21   100.0       NaN
22   100.0       NaN
23   100.0       NaN
24   100.0       NaN
25   100.0       NaN
26   100.0       NaN
27   100.0       NaN
28   100.0       NaN
29   100.0  0.294348
..     ...       ...
470  100.0  0.294348
471  100.0       NaN
472  100.0       NaN
473  100.0       NaN
474  100.0       NaN
475  100.0       NaN
476  100.0       NaN
477  100.0       NaN
478  100.0       NaN
479  100.0  0.294348
480  100.0       NaN
481  100.0       NaN
482  100.0       NaN
483  100.0       NaN
484  100.0       NaN
485  100.0       NaN
486  100.0       NaN
487  100.0       NaN
488  100.0  0.294348
489  100.0       NaN
490  100.0       NaN
491  100.0       NaN
492  100.0       NaN
493  100.0       NaN
494  100.0       NaN
495  100.0       NaN
496  100.0       NaN
497  100.0  0.294348
498  100.0       NaN
499  100.0       NaN

[500 rows x 2 columns]

In [5]:
u_tot_TS_2 = cvi.get_transaction_timeseries(e_HEU_wt_u6,commod_list=['DU'])
u_tot_U6_2 = cvi.get_transaction_timeseries(e_HEU_wt_u6,commod_list=['DU'], nuc_list=['922350000'])
frac_TS_2 = u_tot_U6_2/235/ (u_tot_U6_2/235+( u_tot_TS_2-u_tot_U6_2)/238)

frac_TS_2*100

      Time      Mass
0      NaN       NaN
1    100.0       NaN
2    100.0  0.295576
3    100.0       NaN
4    100.0       NaN
5    100.0       NaN
6    100.0       NaN
7    100.0       NaN
8    100.0       NaN
9    100.0       NaN
10   100.0       NaN
11   100.0  0.295576
12   100.0       NaN
13   100.0       NaN
14   100.0       NaN
15   100.0       NaN
16   100.0       NaN
17   100.0       NaN
18   100.0       NaN
19   100.0       NaN
20   100.0  0.295576
21   100.0       NaN
22   100.0       NaN
23   100.0       NaN
24   100.0       NaN
25   100.0       NaN
26   100.0       NaN
27   100.0       NaN
28   100.0       NaN
29   100.0  0.295576
..     ...       ...
470  100.0  0.295576
471  100.0       NaN
472  100.0       NaN
473  100.0       NaN
474  100.0       NaN
475  100.0       NaN
476  100.0       NaN
477  100.0       NaN
478  100.0       NaN
479  100.0  0.295576
480  100.0       NaN
481  100.0       NaN
482  100.0       NaN
483  100.0       NaN
484  100.0       NaN
485  100.0       NaN
486  100.0       NaN
487  100.0       NaN
488  100.0  0.295576
489  100.0       NaN
490  100.0       NaN
491  100.0       NaN
492  100.0       NaN
493  100.0       NaN
494  100.0       NaN
495  100.0       NaN
496  100.0       NaN
497  100.0  0.295576
498  100.0       NaN
499  100.0       NaN

[500 rows x 2 columns]

In [6]:
u_tot_TS_3 = cvi.get_transaction_timeseries(e_HEU_wo_u6,commod_list=['DU'])
u_tot_U6_3 = cvi.get_transaction_timeseries(e_HEU_wo_u6,commod_list=['DU'], nuc_list=['922350000'])
frac_TS_3 = (u_tot_U6_3/235043930.131) / (u_tot_U6_3/235043930.131 + ( u_tot_TS_3-u_tot_U6_3)/238050788.423)
frac_TS_3*100

      Time      Mass
0      NaN       NaN
1    100.0       NaN
2    100.0  0.299708
3    100.0       NaN
4    100.0       NaN
5    100.0       NaN
6    100.0       NaN
7    100.0       NaN
8    100.0       NaN
9    100.0       NaN
10   100.0       NaN
11   100.0  0.299708
12   100.0       NaN
13   100.0       NaN
14   100.0       NaN
15   100.0       NaN
16   100.0       NaN
17   100.0       NaN
18   100.0       NaN
19   100.0       NaN
20   100.0  0.299708
21   100.0       NaN
22   100.0       NaN
23   100.0       NaN
24   100.0       NaN
25   100.0       NaN
26   100.0       NaN
27   100.0       NaN
28   100.0       NaN
29   100.0  0.299708
..     ...       ...
470  100.0  0.299708
471  100.0       NaN
472  100.0       NaN
473  100.0       NaN
474  100.0       NaN
475  100.0       NaN
476  100.0       NaN
477  100.0       NaN
478  100.0       NaN
479  100.0  0.299708
480  100.0       NaN
481  100.0       NaN
482  100.0       NaN
483  100.0       NaN
484  100.0       NaN
485  100.0       NaN
486  100.0       NaN
487  100.0       NaN
488  100.0  0.299708
489  100.0       NaN
490  100.0       NaN
491  100.0       NaN
492  100.0       NaN
493  100.0       NaN
494  100.0       NaN
495  100.0       NaN
496  100.0       NaN
497  100.0  0.299708
498  100.0       NaN
499  100.0       NaN

[500 rows x 2 columns]

In [7]:
frac_TS_3_w = u_tot_U6_3/ (u_tot_U6_3+( u_tot_TS_3-u_tot_U6_3))

frac_TS_3_w*100

      Time      Mass
0      NaN       NaN
1    100.0       NaN
2    100.0  0.295934
3    100.0       NaN
4    100.0       NaN
5    100.0       NaN
6    100.0       NaN
7    100.0       NaN
8    100.0       NaN
9    100.0       NaN
10   100.0       NaN
11   100.0  0.295934
12   100.0       NaN
13   100.0       NaN
14   100.0       NaN
15   100.0       NaN
16   100.0       NaN
17   100.0       NaN
18   100.0       NaN
19   100.0       NaN
20   100.0  0.295934
21   100.0       NaN
22   100.0       NaN
23   100.0       NaN
24   100.0       NaN
25   100.0       NaN
26   100.0       NaN
27   100.0       NaN
28   100.0       NaN
29   100.0  0.295934
..     ...       ...
470  100.0  0.295934
471  100.0       NaN
472  100.0       NaN
473  100.0       NaN
474  100.0       NaN
475  100.0       NaN
476  100.0       NaN
477  100.0       NaN
478  100.0       NaN
479  100.0  0.295934
480  100.0       NaN
481  100.0       NaN
482  100.0       NaN
483  100.0       NaN
484  100.0       NaN
485  100.0       NaN
486  100.0       NaN
487  100.0       NaN
488  100.0  0.295934
489  100.0       NaN
490  100.0       NaN
491  100.0       NaN
492  100.0       NaN
493  100.0       NaN
494  100.0       NaN
495  100.0       NaN
496  100.0       NaN
497  100.0  0.295934
498  100.0       NaN
499  100.0       NaN

[500 rows x 2 columns]

In [8]:
tails_frac_TS

NameError: name 'tails_frac_TS' is not defined