In [1]:
from cymetric import timeseries as com
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
import cymetric as cym
db = cym.dbopen('cyclus.sqlite')
ev = cym.Evaluator(db=db, write=False)

In [3]:
from cymetric import graphs

In [4]:
cym.graphs.flow_graph(ev)

In [5]:
from cymetric import timeseries as tim

In [6]:
uox = tim.transactions(ev, commodities=['c_uox'])
uox_u5 = tim.transactions(ev, commodities=['c_uox'], nucs=['235U'])
uox_u5['Mass'] = uox_u5['Mass']/uox['Mass']
uox_u5['Mass'].dropna()

2     0.026236
10    0.032797
18    0.032797
26    0.032797
34    0.032797
42    0.032797
50    0.032797
58    0.032797
66    0.032797
74    0.032797
82    0.032797
90    0.032797
98    0.032797
Name: Mass, dtype: float64

In [7]:
uox_spent = tim.transactions(ev, commodities=['c_uox_spent'])
uox_u5_spent = tim.transactions(ev, commodities=['c_uox_spent'], nucs=['235U'])
uox_u5_spent['Mass'] = uox_u5_spent['Mass']/uox_spent['Mass']
uox_u5_spent['Mass'].dropna()

10    0.010099
18    0.003350
26    0.006306
34    0.010099
42    0.010099
50    0.010099
58    0.010099
66    0.010099
74    0.010099
82    0.010099
90    0.010099
98    0.010099
Name: Mass, dtype: float64

In [8]:
uox[(uox.Mass != 0)]

    Time     Mass
2      2  90000.0
10    10  30000.0
18    18  30000.0
26    26  30000.0
34    34  30000.0
42    42  30000.0
50    50  30000.0
58    58  30000.0
66    66  30000.0
74    74  30000.0
82    82  30000.0
90    90  30000.0
98    98  30000.0

In [9]:
powe = tim.get_power(ev)
#powe[(powe.Value != 0)]
powe

/Users/mouginot/.local/lib/python3.5/site-packages/cymetric/timeseries.py:226: UserWarning: no faciity provided
  warnings.warn(wng_msg, UserWarning)

    Time   Value
0      0     0.0
1      1     0.0
2      2     0.0
3      3     0.0
4      4     0.0
5      5  3600.0
6      6  3600.0
7      7  3600.0
8      8  3600.0
9      9  3600.0
10    10     0.0
11    11     0.0
12    12     0.0
13    13  3600.0
14    14  3600.0
15    15  3600.0
16    16  3600.0
17    17  3600.0
18    18     0.0
19    19     0.0
20    20     0.0
21    21  3600.0
22    22  3600.0
23    23  3600.0
24    24  3600.0
25    25  3600.0
26    26     0.0
27    27     0.0
28    28     0.0
29    29  3600.0
..   ...     ...
70    70  3600.0
71    71  3600.0
72    72  3600.0
73    73  3600.0
74    74     0.0
75    75     0.0
76    76     0.0
77    77  3600.0
78    78  3600.0
79    79  3600.0
80    80  3600.0
81    81  3600.0
82    82     0.0
83    83     0.0
84    84     0.0
85    85  3600.0
86    86  3600.0
87    87  3600.0
88    88  3600.0
89    89  3600.0
90    90     0.0
91    91     0.0
92    92     0.0
93    93  3600.0
94    94  3600.0
95    95  3600.0
96    96  3600.0
97    97  3600.0
98    98     0.0
99    99     0.0

[100 rows x 2 columns]