In [1]:
import sys 
import os


import cymetric as cym
import pandas as pd

import matplotlib.pyplot as plt
from cymetric import graphs as cgr
from cymetric import timeseries as tm

%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
db = cym.dbopen("cyclus.sqlite")
ev = cym.Evaluator(db=db, write=False)

In [3]:
cgr.flow_graph(ev)

In [4]:
tm.transactions(ev, receivers=['PlutoniumSink'])

     Time       Mass
0       0   0.000000
1       1   5.000000
2       2   5.000000
3       3   5.000000
4       4   5.743440
5       5   5.743440
6       6   5.743440
7       7   6.501975
8       8   6.501975
9       9   6.501975
10     10   7.257847
11     11   7.257847
12     12   7.257847
13     13   7.990951
14     14   7.990951
15     15   7.990951
16     16   8.681050
17     17   8.681050
18     18   8.681050
19     19   9.310438
20     20   9.310438
21     21   9.310438
22     22   9.866335
23     23   9.866335
24     24   9.866335
25     25  10.342272
26     26  10.342272
27     27  10.342272
28     28  10.738136
29     29  10.738136
..    ...        ...
570   570  12.110322
571   571  12.110322
572   572  12.110322
573   573  12.110322
574   574  12.110322
575   575  12.110322
576   576  12.110322
577   577  12.110322
578   578  12.110322
579   579  12.110322
580   580  12.110322
581   581  12.110322
582   582  12.110322
583   583  12.110322
584   584  12.110322
585   585  12.110322
586   586  12.110322
587   587  12.110322
588   588  12.110322
589   589  12.110322
590   590  12.110322
591   591  12.110322
592   592  12.110322
593   593  12.110322
594   594  12.110322
595   595  12.110322
596   596  12.110322
597   597  12.110322
598   598  12.110322
599   599  12.110322

[600 rows x 2 columns]

In [5]:
 tm.transactions(ev, senders=['Separation1'])

     Time       Mass
0       0   0.000000
1       1  15.000000
2       2  15.000000
3       3  15.000000
4       4  15.743440
5       5  15.743440
6       6  15.743440
7       7  16.501975
8       8  16.501975
9       9  16.501975
10     10  17.257847
11     11  17.257847
12     12  17.257847
13     13  17.990951
14     14  17.990951
15     15  17.990951
16     16  18.681050
17     17  18.681050
18     18  18.681050
19     19  19.310438
20     20  19.310438
21     21  19.310438
22     22  19.866335
23     23  19.866335
24     24  19.866335
25     25  20.342272
26     26  20.342272
27     27  20.342272
28     28  20.738136
29     29  20.738136
..    ...        ...
570   570  22.110322
571   571  22.110322
572   572  22.110322
573   573  22.110322
574   574  22.110322
575   575  22.110322
576   576  22.110322
577   577  22.110322
578   578  22.110322
579   579  22.110322
580   580  22.110322
581   581  22.110322
582   582  22.110322
583   583  22.110322
584   584  22.110322
585   585  22.110322
586   586  22.110322
587   587  22.110322
588   588  22.110322
589   589  22.110322
590   590  22.110322
591   591  22.110322
592   592  22.110322
593   593  22.110322
594   594  22.110322
595   595  22.110322
596   596  22.110322
597   597  22.110322
598   598  22.110322
599   599  22.110322

[600 rows x 2 columns]

In [7]:
 tm.transactions(ev, senders=['Separation1'], receivers=['Separation2'], nucs=['238U'])

     Time  Mass
0       0   0.0
1       1   5.0
2       2   5.0
3       3   5.0
4       4   5.0
5       5   5.0
6       6   5.0
7       7   5.0
8       8   5.0
9       9   5.0
10     10   5.0
11     11   5.0
12     12   5.0
13     13   5.0
14     14   5.0
15     15   5.0
16     16   5.0
17     17   5.0
18     18   5.0
19     19   5.0
20     20   5.0
21     21   5.0
22     22   5.0
23     23   5.0
24     24   5.0
25     25   5.0
26     26   5.0
27     27   5.0
28     28   5.0
29     29   5.0
..    ...   ...
570   570   5.0
571   571   5.0
572   572   5.0
573   573   5.0
574   574   5.0
575   575   5.0
576   576   5.0
577   577   5.0
578   578   5.0
579   579   5.0
580   580   5.0
581   581   5.0
582   582   5.0
583   583   5.0
584   584   5.0
585   585   5.0
586   586   5.0
587   587   5.0
588   588   5.0
589   589   5.0
590   590   5.0
591   591   5.0
592   592   5.0
593   593   5.0
594   594   5.0
595   595   5.0
596   596   5.0
597   597   5.0
598   598   5.0
599   599   5.0

[600 rows x 2 columns]

In [8]:
 tm.transactions(ev, senders=['Separation1'], receivers=['Separation2'], nucs=['238U','235U'])

     Time  Mass
0       0   0.0
1       1  10.0
2       2  10.0
3       3  10.0
4       4  10.0
5       5  10.0
6       6  10.0
7       7  10.0
8       8  10.0
9       9  10.0
10     10  10.0
11     11  10.0
12     12  10.0
13     13  10.0
14     14  10.0
15     15  10.0
16     16  10.0
17     17  10.0
18     18  10.0
19     19  10.0
20     20  10.0
21     21  10.0
22     22  10.0
23     23  10.0
24     24  10.0
25     25  10.0
26     26  10.0
27     27  10.0
28     28  10.0
29     29  10.0
..    ...   ...
570   570  10.0
571   571  10.0
572   572  10.0
573   573  10.0
574   574  10.0
575   575  10.0
576   576  10.0
577   577  10.0
578   578  10.0
579   579  10.0
580   580  10.0
581   581  10.0
582   582  10.0
583   583  10.0
584   584  10.0
585   585  10.0
586   586  10.0
587   587  10.0
588   588  10.0
589   589  10.0
590   590  10.0
591   591  10.0
592   592  10.0
593   593  10.0
594   594  10.0
595   595  10.0
596   596  10.0
597   597  10.0
598   598  10.0
599   599  10.0

[600 rows x 2 columns]

In [9]:
tm.inventories(ev, facilities=['Separation1'])

/Users/mouginot/.local/lib/python3.5/site-packages/cymetric/timeseries.py:133: UserWarning: no nuclide provided
  warnings.warn(wng_msg, UserWarning)

     Time  Quantity
0       0     300.0
1       1     300.0
2       2     300.0
3       3     300.0
4       4     300.0
5       5     300.0
6       6     300.0
7       7     300.0
8       8     300.0
9       9     300.0
10     10     300.0
11     11     300.0
12     12     300.0
13     13     300.0
14     14     300.0
15     15     300.0
16     16     300.0
17     17     300.0
18     18     300.0
19     19     300.0
20     20     300.0
21     21     300.0
22     22     300.0
23     23     300.0
24     24     300.0
25     25     300.0
26     26     300.0
27     27     300.0
28     28     300.0
29     29     300.0
..    ...       ...
570   570     300.0
571   571     300.0
572   572     300.0
573   573     300.0
574   574     300.0
575   575     300.0
576   576     300.0
577   577     300.0
578   578     300.0
579   579     300.0
580   580     300.0
581   581     300.0
582   582     300.0
583   583     300.0
584   584     300.0
585   585     300.0
586   586     300.0
587   587     300.0
588   588     300.0
589   589     300.0
590   590     300.0
591   591     300.0
592   592     300.0
593   593     300.0
594   594     300.0
595   595     300.0
596   596     300.0
597   597     300.0
598   598     300.0
599   599     300.0

[600 rows x 2 columns]

In [10]:
tm.inventories(ev, facilities=['Separation1'], nucs=['238U'])

     Time    Quantity
0       0  100.000000
1       1   98.425926
2       2   96.851852
3       3   95.277778
4       4   93.817922
5       5   92.358067
6       6   90.898211
7       7   89.571135
8       8   88.244059
9       9   86.916983
10     10   85.736404
11     11   84.555826
12     12   83.375247
13     13   82.348589
14     14   81.321931
15     15   80.295273
16     16   79.422914
17     17   78.550554
18     18   77.678195
19     19   76.953669
20     20   76.229143
21     21   75.504617
22     22   74.915770
23     23   74.326923
24     24   73.738076
25     25   73.268889
26     26   72.799701
27     27   72.330513
28     28   71.963140
29     29   71.595768
..    ...         ...
570   570   67.841616
571   571   67.841616
572   572   67.841616
573   573   67.841616
574   574   67.841616
575   575   67.841616
576   576   67.841616
577   577   67.841616
578   578   67.841616
579   579   67.841616
580   580   67.841616
581   581   67.841616
582   582   67.841616
583   583   67.841616
584   584   67.841616
585   585   67.841616
586   586   67.841616
587   587   67.841616
588   588   67.841616
589   589   67.841616
590   590   67.841616
591   591   67.841616
592   592   67.841616
593   593   67.841616
594   594   67.841616
595   595   67.841616
596   596   67.841616
597   597   67.841616
598   598   67.841616
599   599   67.841616

[600 rows x 2 columns]

In [11]:
tm.inventories(ev, facilities=['Separation1', 'Separation2'], nucs=['238U'])

     Time    Quantity
0       0  100.000000
1       1  103.425926
2       2  101.851852
3       3  100.277778
4       4   98.817922
5       5   97.358067
6       6   95.898211
7       7   94.571135
8       8   93.244059
9       9   91.916983
10     10   90.736404
11     11   89.555826
12     12   88.375247
13     13   87.348589
14     14   86.321931
15     15   85.295273
16     16   84.422914
17     17   83.550554
18     18   82.678195
19     19   81.953669
20     20   81.229143
21     21   80.504617
22     22   79.915770
23     23   79.326923
24     24   78.738076
25     25   78.268889
26     26   77.799701
27     27   77.330513
28     28   76.963140
29     29   76.595768
..    ...         ...
570   570   72.841616
571   571   72.841616
572   572   72.841616
573   573   72.841616
574   574   72.841616
575   575   72.841616
576   576   72.841616
577   577   72.841616
578   578   72.841616
579   579   72.841616
580   580   72.841616
581   581   72.841616
582   582   72.841616
583   583   72.841616
584   584   72.841616
585   585   72.841616
586   586   72.841616
587   587   72.841616
588   588   72.841616
589   589   72.841616
590   590   72.841616
591   591   72.841616
592   592   72.841616
593   593   72.841616
594   594   72.841616
595   595   72.841616
596   596   72.841616
597   597   72.841616
598   598   72.841616
599   599   72.841616

[600 rows x 2 columns]