In [1]:
from cymetric import timeseries as com
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
import cymetric as cym
db = cym.dbopen('cyclus.sqlite')
ev = cym.Evaluator(db=db, write=False)

In [3]:
from cymetric import graphs

In [4]:
cym.graphs.flow_graph(ev)

In [5]:
from cymetric import timeseries as tim

In [6]:
uox = tim.transactions(ev, senders=['storage_uox_spent'])
uox[(uox.Mass != 0)]

     Time     Mass
66     66  29586.0
90     90  29586.0
109   109  29586.0
127   127  29586.0
143   143  29586.0
160   160  29586.0
172   172  29586.0
201   201  29586.0
216   216  29586.0
221   221  29586.0
247   247  29586.0
265   265  29586.0
289   289  29586.0
310   310  29586.0
331   331  29586.0
339   339  29586.0
359   359  29586.0
370   370  29586.0
383   383  29586.0
416   416  59172.0
450   450  29586.0
466   466  29586.0
482   482  29586.0

In [7]:
uox_spent = tim.transactions(ev, commodities=['c_uox_spent'])
uox_u5_spent = tim.transactions(ev, commodities=['c_uox_spent'], nucs=['235U'])
uox_u5_spent['Mass'] = uox_u5_spent['Mass']/uox_spent['Mass']
uox_u5_spent['Mass'].dropna()

20     0.059604
38     0.059604
56     0.059604
74     0.059604
92     0.059604
110    0.059604
128    0.059604
146    0.059604
164    0.059604
182    0.059604
200    0.059604
218    0.059604
236    0.059604
254    0.059604
272    0.059604
290    0.059604
308    0.059604
326    0.059604
344    0.059604
362    0.059604
380    0.059604
398    0.059604
416    0.059604
434    0.059604
452    0.059604
470    0.059604
488    0.059604
Name: Mass, dtype: float64

In [8]:
uox[(uox.Mass != 0)]

     Time     Mass
66     66  29586.0
90     90  29586.0
109   109  29586.0
127   127  29586.0
143   143  29586.0
160   160  29586.0
172   172  29586.0
201   201  29586.0
216   216  29586.0
221   221  29586.0
247   247  29586.0
265   265  29586.0
289   289  29586.0
310   310  29586.0
331   331  29586.0
339   339  29586.0
359   359  29586.0
370   370  29586.0
383   383  29586.0
416   416  59172.0
450   450  29586.0
466   466  29586.0
482   482  29586.0

In [9]:
powe = tim.get_power(ev)
#powe[(powe.Value != 0)]
powe

/Users/mouginot/.local/lib/python3.5/site-packages/cymetric/timeseries.py:226: UserWarning: no faciity provided
  warnings.warn(wng_msg, UserWarning)

     Time   Value
0       0     0.0
1       1     0.0
2       2  1000.0
3       3  1000.0
4       4  1000.0
5       5  1000.0
6       6  1000.0
7       7  1000.0
8       8  1000.0
9       9  1000.0
10     10  1000.0
11     11  1000.0
12     12  1000.0
13     13  1000.0
14     14  1000.0
15     15  1000.0
16     16  1000.0
17     17  1000.0
18     18  1000.0
19     19  1000.0
20     20  1000.0
21     21  1000.0
22     22  1000.0
23     23  1000.0
24     24  1000.0
25     25  1000.0
26     26  1000.0
27     27  1000.0
28     28  1000.0
29     29  1000.0
..    ...     ...
470   470  1000.0
471   471  1000.0
472   472  1000.0
473   473  1000.0
474   474  1000.0
475   475  1000.0
476   476  1000.0
477   477  1000.0
478   478  1000.0
479   479  1000.0
480   480  1000.0
481   481  1000.0
482   482  1000.0
483   483  1000.0
484   484  1000.0
485   485  1000.0
486   486  1000.0
487   487  1000.0
488   488  1000.0
489   489  1000.0
490   490  1000.0
491   491  1000.0
492   492  1000.0
493   493  1000.0
494   494  1000.0
495   495  1000.0
496   496  1000.0
497   497  1000.0
498   498  1000.0
499   499  1000.0

[500 rows x 2 columns]