In [1]:
import cymetric as cym
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import cy_fast_timed_analysis as ana_t
#import cy_fast_analysis as ana
from cymetric import convenient_interface as cvi
%matplotlib inline

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
#load db in a evaler
db_unat = cym.dbopen('cyclus_unat.sqlite')
db_unat_ss = cym.dbopen('cyclus_unat_u6-ss.sqlite')
db_unat_u6 = cym.dbopen('cyclus_unat_u6.sqlite')

In [3]:
ev1 = cym.Evaluator(db=db_unat,write=False)
cvi.get_transaction_timeseries(ev1,rec_list=['LWR'],nuc_list=['U236'])

['SimId' 'Time']

     Time  Mass
0       0   0.0
1       1   0.0
2       2   0.0
3       3   0.0
4       4   0.0
5       5   0.0
6       6   0.0
7       7   0.0
8       8   0.0
9       9   0.0
10     10   0.0
11     11   0.0
12     12   0.0
13     13   0.0
14     14   0.0
15     15   0.0
16     16   0.0
17     17   0.0
18     18   0.0
19     19   0.0
20     20   0.0
21     21   0.0
22     22   0.0
23     23   0.0
24     24   0.0
25     25   0.0
26     26   0.0
27     27   0.0
28     28   0.0
29     29   0.0
..    ...   ...
470   470   0.0
471   471   0.0
472   472   0.0
473   473   0.0
474   474   0.0
475   475   0.0
476   476   0.0
477   477   0.0
478   478   0.0
479   479   0.0
480   480   0.0
481   481   0.0
482   482   0.0
483   483   0.0
484   484   0.0
485   485   0.0
486   486   0.0
487   487   0.0
488   488   0.0
489   489   0.0
490   490   0.0
491   491   0.0
492   492   0.0
493   493   0.0
494   494   0.0
495   495   0.0
496   496   0.0
497   497   0.0
498   498   0.0
499   499   0.0

[500 rows x 2 columns]

In [4]:
ev2 = cym.Evaluator(db=db_unat_ss,write=False)
cvi.get_transaction_timeseries(ev2,rec_list=['LWR'],nuc_list=['U236'])

['SimId' 'Time']

     Time  Mass
0       0   0.0
1       1   0.0
2       2   0.0
3       3   0.0
4       4   0.0
5       5   0.0
6       6   0.0
7       7   0.0
8       8   0.0
9       9   0.0
10     10   0.0
11     11   0.0
12     12   0.0
13     13   0.0
14     14   0.0
15     15   0.0
16     16   0.0
17     17   0.0
18     18   0.0
19     19   0.0
20     20   0.0
21     21   0.0
22     22   0.0
23     23   0.0
24     24   0.0
25     25   0.0
26     26   0.0
27     27   0.0
28     28   0.0
29     29   0.0
..    ...   ...
470   470   0.0
471   471   0.0
472   472   0.0
473   473   0.0
474   474   0.0
475   475   0.0
476   476   0.0
477   477   0.0
478   478   0.0
479   479   0.0
480   480   0.0
481   481   0.0
482   482   0.0
483   483   0.0
484   484   0.0
485   485   0.0
486   486   0.0
487   487   0.0
488   488   0.0
489   489   0.0
490   490   0.0
491   491   0.0
492   492   0.0
493   493   0.0
494   494   0.0
495   495   0.0
496   496   0.0
497   497   0.0
498   498   0.0
499   499   0.0

[500 rows x 2 columns]

In [5]:
ev3 = cym.Evaluator(db=db_unat_u6,write=False)
cvi.get_transaction_timeseries(ev3,send_list=['enrich'],nuc_list=['U236'])

['SimId' 'Time']

     Time       Mass
0       0   0.000000
1       1  38.024694
2       2   0.000000
3       3   0.000000
4       4   0.000000
5       5   0.000000
6       6   0.000000
7       7   0.000000
8       8   0.000000
9       9   0.000000
10     10   4.224966
11     11   0.000000
12     12   0.000000
13     13   0.000000
14     14   0.000000
15     15   0.000000
16     16   0.000000
17     17   0.000000
18     18   0.000000
19     19   4.224966
20     20   0.000000
21     21   0.000000
22     22   0.000000
23     23   0.000000
24     24   0.000000
25     25   0.000000
26     26   0.000000
27     27   0.000000
28     28   4.224966
29     29   0.000000
..    ...        ...
470   470   0.000000
471   471   0.000000
472   472   0.000000
473   473   0.000000
474   474   0.000000
475   475   0.000000
476   476   0.000000
477   477   0.000000
478   478   4.224966
479   479   0.000000
480   480   0.000000
481   481   0.000000
482   482   0.000000
483   483   0.000000
484   484   0.000000
485   485   0.000000
486   486   0.000000
487   487   4.224966
488   488   0.000000
489   489   0.000000
490   490   0.000000
491   491   0.000000
492   492   0.000000
493   493   0.000000
494   494   0.000000
495   495   0.000000
496   496   4.224966
497   497   0.000000
498   498   0.000000
499   499   0.000000

[500 rows x 2 columns]